@import '~@/assets/styles/mixin.styl'

//高度定义规范
$height-header=1.173334rem
$height-cate=1.28rem

//颜色定义规范
$color-background = #00bcd4
$color-text-light = #e4e7ea
$color-text-lighter = rgb(97,97,97)
$color-text-normal = rgb(33,33,33)
$color-border = #f5f5f5
$color-price = rgb(255,131,0)

// $textColor=#212121


//字体定义规范
// $font-size-small = font-dpr(24px)
// $font-size-medium = font-dpr(28px)
// $font-size-normal = font-dpr(32px)

// $font-size-medium-x = 16px
// $font-size-large = 18px
// $font-size-large-x = 22px  

// $color-background = #222
// $color-background-d = rgba(0, 0, 0, 0.3)
// $color-highlight-background = #333
// $color-dialog-background = #666
// $color-theme = #ffcd32
// $color-theme-d = rgba(255, 205, 49, 0.5)
// $color-sub-theme = #d93f30
// $color-text = #fff
// $color-text-d = rgba(255, 255, 255, 0.3)
// $color-text-l = rgba(255, 255, 255, 0.5)
// $color-text-ll = rgba(255, 255, 255, 0.8)